@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .link {
        display: block !important;

        &-title {
            border-right: none;
        }
    }
    .our {
        &-wrap {
            display: block;
        }

        &_story {
            display: block;
            margin: 0 auto;
            text-align: center;
        }
    }
    .elem{
        &-wrap{
            display: block;
        }
        
        
    }

}
